<section class="relative w-full">
  <div class="mx-auto flex max-w-6xl flex-col md:flex-row items-center gap-12 px-6 py-13 md:py-24 lg:px-8">

    <div class="w-full space-y-6 order-1 md:order-none">

      <h1 class="text-4xl font-semibold tracking-tight sm:text-5xl lg:text-6xl">
        <span class="text-red-primary">Pourquoi</span> nous choisir?
      </h1>

      <div class="flex flex-col gap-3 text-sm sm:text-base">

        <div class="flex items-start gap-2">
          <span class="mt-1 h-1.5 w-1.5 rounded-full bg-red-primary"></span>
          <span>Intervention rapide et professionnelle.</span>
        </div>

        <div class="flex items-start gap-2">
          <span class="mt-1 h-1.5 w-1.5 rounded-full bg-red-primary"></span>
          <span>Techniciens qualifiés et équipements de dernière génération.</span>
        </div>

        <div class="flex items-start gap-2">
          <span class="mt-1 h-1.5 w-1.5 rounded-full bg-red-primary"></span>
          <span>Tarifs transparents et devis gratuit.</span>
        </div>

        <div class="flex items-start gap-2">
          <span class="mt-1 h-1.5 w-1.5 rounded-full bg-red-primary"></span>
          <span>Service client réactif et disponible 24h/24 et 7j/7.</span>
        </div>

        
        <div class="flex items-start gap-2">
          <span class="mt-1 h-1.5 w-1.5 rounded-full bg-red-primary"></span>
          <span>Chargement de véhicules bas sans accroc.</span>
        </div>


        <div class="flex items-start gap-2">
          <span class="mt-1 h-1.5 w-1.5 rounded-full bg-red-primary"></span>
          <span>Les véhicules transportés sont assurés pour une valeur de jusqu'à 200 000€.</span>
        </div>

           <div class="flex items-start gap-2">
          <span class="mt-1 h-1.5 w-1.5 rounded-full bg-red-primary"></span>
          <span>Assurance de potentiels dommages.</span>
        </div>

        
        
      </div>

    </div>

    <!-- Image -->
    <div class="relative w-full max-w-md order-2 md:order-none">
      <div class="pointer-events-none absolute inset-0 rounded-3xl bg-red-primary/30 blur-3xl"></div>
      <div class="relative overflow-hidden rounded-3xl bg-white/5 shadow-2xl">
        <img
          src="/presentation-background.png"
          alt="Dépannage et remorquage à Bordeaux"
          class="h-full w-full object-cover"
        />
      </div>
    </div>

  </div>
</section>
