<div class="h-screen w-screen">
        <h1 class="text-5xl  font-extrabold leading-tight drop-shadow-lg">
                         <span class="text-red-primary">Nos Services</span>
                    </h1>
</div>