@import "tailwindcss";

@theme {
  --color-primary: #F7F7F7;
  --color-red-primary: #E63946;
  --font-primary: "Lato", sans-serif;

}


@layer base {
  html, body {
    @apply w-full h-full bg-primary font-sans;
    font-family: "Roboto", sans-serif;
  }
}